* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: rgba(235, 235, 235, 255);
}

.menu-items {
  position: absolute;
  right: 0;
  font-size: 13px;
  font-weight: normal;
  background-color: rgba(55, 60, 63);
  top: 0;
  opacity: 0;
  overflow: hidden;
  height: 0;
  z-index: -62615155;
  transition: all ease-in-out 0.3s;
}

.-open {
  opacity: 1;
  overflow: visible;
  height: auto;
  top: 75px;
  transition: all ease-in-out 0.3s;
}

.menu-items ul {
  flex-direction: column;
  padding: 10px;
}

.nav-info {
  display: none;
  justify-content: center;
  margin-left: 20px;
  color: rgba(235, 235, 235, 255);
}

.burger {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 4px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  min-height: 100vh;
}

.page-header {
  display: flex;
  background-color: rgba(55, 60, 63);
  height: 85px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 62615155;
}

.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header ul {
  display: flex;
  width: 100%;
}

nav li {
  margin-left: 20px;
  font-weight: bold;
}

#box-1 {
  color: white;
  background-color: rgb(20, 173, 193);
  display: flex;
  align-items: center;
  font-size: 75px;
  font-weight: bold;
  height: 500px;
}

.box-1-container {
  margin-left: 80px;
}

.box-1-footer {
  position: relative;
  font-size: 40px;
  margin-top: 30px;
  color: rgba(165, 211, 225, 255);
}

.arrow {
  border: solid rgba(255, 255, 255, 255);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 8px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#box-2 {
  color: rgba(146, 130, 160, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 250px;
  background-color: rgba(39, 33, 44);
}

#box-2-icon {
  display: flex;
  background-color: rgba(188, 49, 131, 255);
  width: 20%;
  height: 250px;
  color: white;
  align-items: center;
  justify-content: center;
}

#box-2-icon i {
  position: absolute;
  right: 10%;
  top: 50%;
}

#box-2-text {
  display: flex;
  width: 80%;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#box-3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

#box-3 div {
  background-size: cover;
  object-fit: contain;
  width: 33.3%;
}

.first-item {
  background-image: url("/images/1.png");
}

.second-item {
  background-image: url("/images/Bridge.png");
}

.third-item {
  background-image: url("/images/Girl.png");
}

.box-4 {
  display: flex;
  justify-content: space-around;
  height: 500px;
  color: rgba(81, 81, 81, 255);
}

.box-4 div {
  width: 550px;
  margin: auto;
  padding: 10px;
  justify-content: space-around;
}

#box-4-header {
  color: rgba(8, 160, 145, 255);
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .page-header {
    height: 90px;
    padding: 20px;
    font-weight: bold;
  }

  #box-1 {
    width: 100%;
    height: 560px;
  }

  .box-1-container {
    flex-direction: column;
    font-size: 65px;
    font-weight: bold;
    flex-wrap: wrap;
  }

  .box-1-footer {
    font-size: 35px;
  }

  .arrow {
    width: 20px;
    height: 20px;
  }

  #box-2 {
    height: 250px;
    width: 100%;
  }

  #box-2-text {
    font-size: 30px;
    font-weight: bold;
    width: 77%;
  }

  #box-2-icon {
    height: 250px;
    width: 23%;
  }

  #box-3 div {
    background-position: center;
    width: 100%;
    height: 300px;
  }

  .box-4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
  }

  .box-4 div {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-top: 5px;
  }

  #box-4-header {
    font-size: 30px;
    font-weight: bold;
  }
  #textBox2 {
    padding: 90px;
  }
}
@media screen and (max-width: 980px) {
  .page-header {
    height: 90px;
    padding: 20px;
  }

  #box-1 {
    width: 100%;
    height: 540px;
  }

  .box-1-container {
    flex-direction: column;
    font-size: 45px;
    font-weight: bold;
    flex-wrap: wrap;
  }

  .box-1-footer {
    font-size: 35px;
  }

  .arrow {
    width: 20px;
    height: 20px;
  }

  #box-2 {
    height: 250px;
    width: 100%;
  }

  #box-2-text {
    font-size: 30px;
  }

  #box-2-icon {
    height: 250px;
  }

  #box-3 div {
    background-position: center;
    height: 300px;
    width: 100%;
  }

  .box-4 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
  }

  .box-4 div {
    width: 100%;
    height: 100%;
  }

  #textBox2 {
    padding: 100px;
  }
  #box-4-header {
    font-size: 35px;
  }
}

@media screen and (max-width: 640px) {
  .page-header nav ul {
    display: none;
  }
  .page-header {
    height: 75px;
  }
  .nav-info {
    display: flex;
    font-size: 25px;
    margin: 5px;
    font-family: "Montserrat";
  }

  .burger {
    display: block;
    right: 7px;
  }

  #box-1 {
    width: 100%;
    height: 360px;
  }

  .box-1-container {
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    flex-wrap: wrap;
  }

  .box-1-footer {
    font-size: 25px;
    line-height: 1.6;
  }

  .arrow {
    width: 13px;
    height: 13px;
    border-width: 0 3px 3px 0;
  }

  #box-2 {
    height: 170px;
    width: 100%;
  }

  #box-2-text {
    font-size: 14px;
  }

  #box-2-icon {
    height: 170px;
  }

  #box-3 {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #box-3 div {
    width: 100%;
    height: 550px;
    background-position: center;
  }

  .box-4 {
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 2;
    font-weight: bold;
  }

  .box-4 div {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
  }

  .box-4 div br {
    display: none;
  }

  #box-4-header {
    font-size: 35px;
    font-weight: bold;
  }

  #textBox2 {
    padding: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .page-header nav ul {
    display: none;
  }
  .page-header {
    height: 40px;
  }
  .nav-info {
    display: flex;
    font-size: 13px;
    margin: auto;
  }

  .menu-items {
    display: none;
    position: absolute;
    right: 0;
    font-size: 10px;
    font-weight: normal;
    background-color: rgba(55, 60, 63);
  }

  .burger {
    display: block;
    right: 5px;
  }

  #box-1 {
    width: 100%;
    height: 230px;
  }

  .box-1-container {
    flex-direction: column;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
  }

  .box-1-footer {
    font-size: 13px;
    line-height: 1.3;
    font-weight: bold;
  }

  .arrow {
    width: 9px;
    height: 9px;
  }

  #box-2 {
    height: 90px;
    width: 100%;
  }

  #box-2-text {
    font-size: 10px;
  }

  #box-2-icon {
    height: 90px;
  }

  #box-3 {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #box-3 div {
    width: 100%;
    height: 290px;
    background-position: center;
  }

  .box-4 {
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
  }

  .box-4 div {
    width: 100%;
    height: 100%;
  }

  .box-4 div br {
    display: none;
  }

  #box-4-header {
    font-size: 20px;
    font-weight: bold;
  }
}
